<% load 'helpers.rb' %>


<h2>movies!</h2>



<table>
  <tbody>

    <tr><th>TITLE</th><th>YEAR</th><th>RATING</th><th>GENRE</th><th>STUDIO</th></tr>
      <% @movie_table.each do |movie| %>
        <tr>
          <td><a href = 'movies/<%= movie["id"] %>'><%= movie["title"] %></a></td>
          <td><%= movie["year"] %></td>
          <td><%= movie["rating"] %></td>
          <td><%= movie["genre"] %></td>
          <td><%= movie["studio"] %></td>
        </tr>
      <% end %>
  </tbody>
</table>
